# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
frontend/node_modules
backend/node_modules

# Build directories
frontend/dist
backend/dist

# Environment variables
backend/.env

# IDE specific files
.vscode/
.idea/

# MacOS
.DS_Store

# Miscellaneous
*.swp